
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">


        <div class="well no-padding">

            <form id="login-form" name="changePasswordForm" class="smart-form client-form" ng-submit="submit()"  novalidate>
                <header>
                    <h3>Change Password</h3>
                    <small>Enter a new password for <b>{{userName}}</b>.</small>
                </header>

                <fieldset>
                    <section>
                        <ul class="txt-color-red validation-summary">
                            <li ng-repeat="error in Errors">{{error}}</li>
                        </ul>
                    </section>
                    <section>
                        <label class="label">Current password</label>
                        <label class="input" ng-class="{'state-error': (changePasswordForm.currentPassword.$invalid && showValidation) || CurrentPasswordErrors.length}">
                            <input type="password" name="currentPassword" ng-model="userData.currentPassword" ng-class="{invalid: changePasswordForm.currentPassword.$invalid && showValidation}" required>
                        </label>
                        <em class="state-error invalid" ng-show="changePasswordForm.currentPassword.$invalid && showValidation">Enter your current password.</em>
                        <em class="state-error invalid" ng-repeat="error in CurrentPasswordErrors">{{error}}</em>
                    </section>

                    <section>
                        <label class="label">New password</label>
                        <label class="input" ng-class="{'state-error': changePasswordForm.newPassword.$invalid && showValidation}">
                            <input type="password" name="newPassword" ng-model="userData.newPassword" ng-class="{invalid: changePasswordForm.newPassword.$invalid && showValidation}" required>
                        </label>
                        <em class="invalid" ng-show="changePasswordForm.newPassword.$invalid && showValidation">Enter your new password.</em>
                    </section>

                    <section>
                        <label class="label">Confirm new password</label>
                        <label class="input" ng-class="{'state-error': changePasswordForm.confirmNewPassword.$invalid && showValidation}">
                            <input type="password" name="confirmNewPassword" ng-model="userData.confirmNewPassword" ng-class="{invalid: changePasswordForm.confirmNewPassword.$invalid && showValidation}" required password-match="userData.newPassword">
                        </label>
                        <em class="state-error invalid" ng-show="changePasswordForm.confirmNewPassword.$error.required && showValidation">Confirm your new password.</em>
                        <em class="invalid" ng-show="changePasswordForm.confirmNewPassword.$error.passwordMatch && !changePasswordForm.confirmNewPassword.$error.required && showValidation">Passwords do not match.</em>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        Change Password
                    </button>
                </footer>
            </form>

        </div>

    </div>
</div>
