<!DOCTYPE html>
<html lang="en-us" ng-app="RexamWorkflowApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Rexam </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->

    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css">

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">

    <!-- Angular Related CSS -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="css/ng.min.css">-->

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <script src="js/libs/jquery-2.0.2.min.js"></script>

    <script src="js/libs/angular/angular.js"></script>
    <script src="js/libs/angular/angular-route.js"></script>

    <script src="js/libs/angular/ui-bootstrap-custom-tpls-0.11.0.js"></script>

    <script src="js/libs/angular/angular-impeto.js"></script>

    <script src="js/ng/ng.app.js"></script>
    <script src="js/ng/ng.controllers.js"></script>
    <script src="js/ng/ng.directives.js"></script>
    <script src="js/ng/ng.repositories.js"></script>

    <script src="js/ng/plunker.js"></script>
    <script src="js/plugin/masked-input/jquery.mask.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
</head>
<body id="login" class="animated fadeInDown">
    <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
    <header id="header">
        <!--<span id="logo"></span>-->

        <div id="logo-group">
            <span id="logo">
                <img src="img/logo.png" alt="Rexam Workflow">
            </span>

            <!-- END AJAX-DROPDOWN -->
        </div>
        <div class="pull-right">
            <!-- multiple lang dropdown : find all flags in the image folder -->
            <ul data-lang-menu="" class="header-dropdown-list hidden-xs" data-ng-controller="LangController">
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" class="flag flag-{{ currentLang.flagCode }}" src="img/blank.gif">
                        <span>{{ currentLang.translation }} </span><i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" id="dropdown-languages">
                        <li data-ng-class="{active: lang == currentLang}" data-ng-repeat="lang in languages">
                            <a href="" data-ng-click="setLang(lang)">
                                <img class="flag flag-{{ lang.flagCode }}" src="img/blank.gif" />
                                {{ lang.language }} ({{ lang.translation }}) </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- end multiple lang -->
        </div>
    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-3" ng-controller="RecuperarPasswordController">
                    <div class="well no-padding">
                        <form id="recuperarSenha-form" name="recuperarSenhaForm" class="smart-form client-form" ng-submit="submit()" novalidate>
                            <header>
                                <span data-localize="labelEsqueciSenha1">Forgot Password</span>
                            </header>

                            <fieldset>
                                <section>
                                    <ul class="txt-color-red validation-summary">
                                        <li ng-repeat="error in Errors">{{error}}</li>
                                    </ul>
                                </section>
                                <section>
                                    <label class="label" data-localize="labelEmail">Enter your email address</label>
                                    <label class="input" ng-class="{'state-error': recuperarSenhaForm.email.$invalid && showValidation}">
                                        <i class="icon-append fa fa-envelope"></i>
                                        <input type="email" name="email" ng-model="pedidoDeRecuperacaoDeSenha.email" ng-class="{invalid: recuperarSenhaForm.email.$invalid && showValidation}" required>
                                        <b class="tooltip tooltip-top-right" data-localize="labelEmailRecuperacao"><i class="fa fa-envelope txt-color-teal"></i>Please enter email address for password recover</b>
                                    </label>
                                    <em class="invalid" ng-show="recuperarSenhaForm.email.$invalid && showValidation" data-localize="labelEmailRecuperacao">Please enter email address for password recover.</em>
                                </section>
                                <section>
                                    <span class="timeline-seperator text-center text-primary"><span class="font-sm" data-localize="labelE">AND</span>
                                </section>

                                <section>
                                    <label class="label" data-localize="labelCodigoFiscalLogin">CNPJ</label>
                                    <label class="input" ng-class="{'state-error': recuperarSenhaForm.cnpj.$invalid && showValidation}">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="cnpj" numbers-only ng-model="pedidoDeRecuperacaoDeSenha.cnpj" ng-class="{invalid: recuperarSenhaForm.cnpj.$invalid && showValidation}" required maxlength="20">
                                        <b class="tooltip tooltip-top-right" data-localize="validacaoUsuario"><i class="fa fa-user txt-color-teal"></i>Enter your username</b>
                                    </label>
                                    <em class="invalid" ng-show="recuperarSenhaForm.cnpj.$invalid && showValidation" data-localize="validacaoUsuario">Enter your username.</em>
                                    <div class="note">
                                        <a href="login.html"><span data-localize="labelLembreiSenha">I remembered my password!</span> </a>
                                    </div>
                                </section>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-refresh"></i> <span data-localize="labelRecuperarSenha">Recover Password</span> 
                                </button>
                            </footer>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="js/libs/jquery-2.0.2.min.js"></script>
    <script src="js/libs/jquery-ui-1.10.3.min.js"></script>


    <!-- BOOTSTRAP JS -->
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

</body>
</html>
