<style type="text/css">
    .smart-form fieldset {
        padding-top: 0px!important;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-book"></i>Masterdata - <span data-localize="labelHistorico">Histórico</span></h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="container">
        <!-- START ROW -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well no-padding">
                    <form class="smart-form client-form">
                    <header>
                        <span data-localize="labelHistorico">Histórico</span>
                    </header>
                        <fieldset>
                            <section>
                                <div class="alert adjusted alert-info fade in" style="margin: 15px;">
                                    <i class="fa-fw fa-lg fa fa-info"></i>
                                    <span data-localize="labelAguardandoCorrecaoFornecedor" ng-if="entity.Status == 0">Aguardando correção do solicitante</span>
                                    <span data-localize="labelAguardandoSetorDadosContabeis" ng-if="entity.Status == 3">Aguardando o setor de Dados Contábeis</span>
                                    <span data-localize="labelAguardandoAprovacaoSetorFinanceiro" ng-if="entity.Status == 4">Aguardando a aprovação do setor financeiro</span>
                                    <span data-localize="labelAguardandoAprovacaoSAP" ng-if="entity.Status == 5">Aguardando a aprovação do SAP</span>
                                    <span data-localize="labelCadastroConcluido" ng-if="entity.Status == 6">Cadastro concluído</span>
                                    <span data-localize="labelCadastroCancelado" ng-if="entity.Status == 7">Cadastro cancelado</span>
                                </div>
                            </section>
                            <section>
                                <div id="myTabContent" class="tab-content col-sm-12">
                                    <ul class="nav nav-tabs pull-center in" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab1"><span class="hidden-mobile hidden-tablet" data-localize="liFornecedor">Fornecedor</span></a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab2"><span class="hidden-mobile hidden-tablet" data-localize="liRexam">Rexam</span></a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab3"><span class="hidden-mobile hidden-tablet" data-localize="labelInformacoesGerais">Informações Gerais</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-pane fade padding-10 no-padding-bottom active in" id="tab1">
                                        <div ng-include="'views/masterdataFornecedor/supplier-template.html'">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade padding-10" id="tab2">
                                        <div ng-include="'views/masterdataFornecedor/rexam-template.html'">
                                        </div>
                                    </div>
                                     <div class="tab-pane fade padding-10" id="tab3">
                                        <div ng-include="'views/masterdataFornecedor/dados-complementares-template.html'">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>
<!-- end widget grid -->