<style type="text/css">
    .smart-form fieldset {
        padding-top: 0px!important;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-book"></i>Masterdata - <span data-localize="labelPassoFinanceiro">Passo Financeiro</span></h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="container">
        <!-- START ROW -->
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="well no-padding">
                    <form id="masterdataClientPassoFinanceiroForm" name="masterdataClientPassoFinanceiroForm" class="smart-form client-form" ng-submit="submit()" novalidate>
                        <header>
                            <span data-localize="labelPassoFinanceiro">Passo Financeiro</span>
                        </header>
                        <fieldset>
                            <section>
                                <div id="myTabContent" class="tab-content col-sm-12">
                                    <ul class="nav nav-tabs pull-center in" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab1"><span class="hidden-mobile hidden-tablet" data-localize="liCliente">Cliente</span></a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab2"><span class="hidden-mobile hidden-tablet" data-localize="liRexam">Rexam</span></a>
                                        </li>
										<li class="">
											<a data-toggle="tab" href="#tab3"><span class="hidden-mobile hidden-tablet" data-localize="labelInformacoesGerais">Informações Gerais</span></a>
										</li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab4"><span class="hidden-mobile hidden-tablet" data-localize="labelPassoFinanceiro">Passo Financeiro</span></a>
                                        </li>
                                    </ul>

                                    <div class="tab-pane fade padding-10 no-padding-bottom active in" id="tab1">
                                        <div ng-include="'views/masterDataCliente/client-template.html'">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade padding-10" id="tab2">
                                        <div ng-include="'views/masterDataCliente/rexam-template.html'">
                                        </div>
                                    </div>
									<div class="tab-pane fade padding-10" id="tab3">
                                        <div ng-include="'views/masterDataCliente/dados-complementares-template.html'">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade padding-10" id="tab4">
                                        <div class="row">
                                            <label class="label" data-localize="labelAprovacao">Aprovação</label>
                                            <div class="inline-group">
                                                <label class="radio" ng-class="{'state-error': entity.Aprovar == undefined && showValidation}">
                                                    <input type="radio" ng-model="entity.Aprovar" name="aprovar" value="true"><i></i><span data-localize="labelAprovar"> Aprovar </span>
                                                </label>
                                                <label class="radio" ng-class="{'state-error': entity.Aprovar == undefined && showValidation}">
                                                    <input type="radio" ng-model="entity.Aprovar" name="aprovar" value="false"><i></i><span data-localize="labelSolicitarCorrecao"> Solicitar Correção </span>
                                                </label>
                                                <em class="invalid" ng-show="entity.Aprovar == undefined && showValidation"><span data-localize="validacaoInformeSeDesejaAprovar">Informe se deseja aprovar</span></em>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="entity.Aprovar == 'true'">
                                            <div class="form-group">
                                                <label class="label" data-localize="labelGrupoAdmTesouraria">Grupo ADM Tesouraria</label>
                                                <label class="label" ng-class="{'state-error': !masterdataClientPassoFinanceiroForm.grupoAdmTesouraria.$modelValue.Id && showValidation && !devolver}">
                                                    <select ng-model="entity.GrupoAdmTesouraria" name="grupoAdmTesouraria" id="grupoAdmTesouraria" ng-options="c.Nome for c in gruposAdmTesouraria" class="form-control" required>
                                                        <option value="" selected="selected" data-localize="optionSelecioneGrupoAdmTesouraria">Selecione o grupo ADM tesouraria</option>
                                                    </select>
                                                </label>
                                                <em class="invalid" ng-show="!masterdataClientPassoFinanceiroForm.grupoAdmTesouraria.$modelValue.Id && showValidation && !devolver"><span data-localize="validacaoSelecioneGrupoAdmTesouraria"></span></em>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="entity.Aprovar == 'false'">
                                            <div class="form-group">
                                                <label class="label" data-localize="labelPedidoCorrecao">Pedido de Correção</label>
                                                <label class="input" ng-class="{'state-error': masterdataClientPassoFinanceiroForm.pedidoDeCorrecao.$invalid && showValidation && devolver}">
                                                    <textarea type="text" ng-model="entity.PedidoDeCorrecao" data-localize="placePedidoCorrecao" rows="3" name="pedidoDeCorrecao" id="pedidoDeCorrecao" maxlength="500" class="form-control" required></textarea>
                                                </label>
                                                <em class="invalid" ng-show="masterdataClientPassoFinanceiroForm.pedidoDeCorrecao.$invalid && showValidation && devolver"><span data-localize="validacaoPedidoCorrecao"></span></em>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="col-sm-12">
                                            <ul class="pager wizard no-margin">
                                                <li class="next finish">
                                                    <a href="javascript:void(0);" id="salvar" class="btn btn-lg txt-color-darken" ng-click="submit(entity.Aprovar == 'false')"><span data-localize="liSalvar">Enviar</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </section>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <br />
</section>
<!-- end widget grid -->